/* Base styles for navbar */
.navbar {
    width: 30vh;
    height: auto;
    font-size: small;
    background-color: #042c53;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease; /* Smooth collapse/expand */
  }
  
  .navHeader {
    display: flex;            /* Apply flexbox to align items in a row */
    background-color: yellow;
    padding-left: 10px;
    height: 60px;
  }
  
  .headerContainer {
    display: flex;
  }
  
  .appLogo {
    width: 50px;
    height: auto;
    margin: 0 60px 0 10px;
  }
  
  .navList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
  }
  
  .navItem {
    border-width: 1px;
    border-color: rgb(3, 11, 56);
  }
    
  .navItemHeader {
    display: flex;
    padding: 5px 0 5px 20px;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Logo styling */
  .logo {
    width: 25px;
    height: auto;
    margin-right: 10px;
  }
  
  /* Submenu styling */
  .subMenu {
    list-style-type: none;
    padding-left: 50px;
    margin-top: 5px;
    background-color: #021c34;
  }
  
  .subMenu li {
    padding: 5px 0;
    color: #bdbdc7;
    cursor: pointer;
  }
  
  .subMenu li:hover {
    color: #ecf0f1;
  }
  
  /* Collapsed styles */
  .collapsed {
    width: 70px; /* Smaller width for collapsed state */
  }
  
  .collapsed .logo {
    margin-right: 0; /* Remove space next to logo when collapsed */
  }
  
  .collapsed .navItemHeader span {
    display: none; /* Hide text when collapsed */
  }
  
  /* Toggle Button */
  .toggleButton {
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 5px;
    transition: transform 0.3s;
  }
  
  .itemName {
    display: flex;
    width: 120px;
  }
  
  .arrowContainer {
    margin-left: auto;
  }
  
  .arrow {
    margin-left: 10px;
    border: solid #d4d4db;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  